@import url(//fonts.googleapis.com/css?family=Lato:300:400);

* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    border-radius: 5px;
}

h2{
      margin-top: auto;
      text-align: center;
      color: #1bbc9b;
}
 
body {
    margin: 0;
    background-color: #F8F9FA;
    overflow-x: hidden
}
   
.login-form {
  width: 300px;
  background-color: #EEEFF1;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  padding: 20px;
  text-align: center;
  border: none;
  box-shadow: 10px 10px 12px 3px rgba(0,0,0,0.39);
}
   
  .text-field {
        font-size: 14px;
        padding: 10px;
        border: none;
        width: 260px;
        margin-bottom: 10px;
   
  }
  
  .links {
      text-align: center;
  }
   
  .links a {
    font-size: 12px;
    color: #9B9B9B;
  }

  .btn {
    width: 260px;
    background-color: #49dfc1;
    font-weight: bold;
    color: white;
    padding: 10px 16px;
    font-size: 1rem;
    border-radius: .5rem;
    transition: all .15s cubic-bezier(0.4,0,0.2,1);
    border: none;
    cursor: pointer;
  }

  .btn:hover {
    background-color: #43b39c;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  .btn:active {
    position: relative;
    top: 1px;
    right: 1px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }